<div class="container mt-5">
    <div class="card">

        <div class="card-header">
            <div class="card-title">
                Art&iacute;culos en carrito
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th class="w-50">Art&iacute;culo</th>
                        <th class="w-20">Precio</th>
                        <th class="w-10">Cantidad</th>
                        <th class="w-20">Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="carrito.articulos.length == 0">
                        <td colspan="5">
                            <div class="alert alert-secondary text-center" role="alert">No hay productos en el carrito</div>
                        </td>
                    </tr>
                    <tr *ngFor="let articulo of carrito.articulos">
                        <td>{{ articulo.nombre }}</td>
                        <td>{{ articulo.precio | currency }}</td>
                        <td>{{ articulo.cantidad }}</td>
                        <td>{{ articulo.precio * articulo.cantidad | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="card-footer">
            <button [routerLink]="['/venta']" *ngIf="carrito.articulos.length > 0" type="button" class="btn btn-success">Comprar!</button>
            <span class="float-right"><strong>{{ suma | currency }}</strong></span>
            <span class="float-right mr-4">Total General:</span>
        </div>

    </div>
</div>