<div class="card m-2">

    <div class="card-header">
        <span class="text-muted">Buscar cliente con adeudos</span>
        <form class="form-inline my-2 my-lg-0" style="float: right;">
            <input #campoBusqueda (keyup)="buscarClientesPorTermino(campoBusqueda.value)" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
            <button (click)="buscarClientesPorTermino(campoBusqueda.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
        </form>
    </div>

    <div class="card-body">
        <div class="card-columns">
            <div class="card" *ngFor="let cliente of clientes">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{ cliente.nombre }}</strong></h5>
                    <p class="card-text">Tel: {{ cliente.telefono }}</p>
                    <p class="card-text">email: {{ cliente.email }}</p>
                    <input [routerLink]="['/ventasCliente', cliente.id]" (click)="clienteSeleccionado=cliente" type="button" class="btn btn-outline-primary btn-block" value="Ver Deudas">
                </div>
            </div>
        </div>
    </div>
</div>