<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Existencias de Art&iacute;culos
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id Art&iacute;culos</th>
                        <th>Nombre Art&iacute;culo</th>
                        <th>Existencias</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="existencias.length == 0">
                        <td colspan="3">
                            <div class="alert alert-primary text-center" role="alert">
                                No hay art&iacute;culos registrados.
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let articulo of existencias">
                        <td>{{ articulo.id }}</td>
                        <td>{{ articulo.nombreArticulo }}</td>
                        <td>{{ articulo.stock }}</td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="existencias.length > 0" (click)="generarPDF()" type="button" class="btn btn-outline-primary">Generar PDF</button>
        </div>
    </div>
</div>