<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Historico de Ventas
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre de Cliente</th>
                        <th>Clave de Venta</th>
                        <th>Fecha</th>
                        <th>Importe Total</th>
                        <th>Saldo Deudor</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="historico.length == 0">
                        <td colspan="5">
                            <div class="alert alert-primary text-center" role="alert">
                                No hay ventas por mostrar.
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let venta of historico">
                        <td>{{ venta.nombreCliente }}</td>
                        <td>{{ venta.idVenta }}</td>
                        <td>{{ venta.fecha | date:'longDate' }}</td>
                        <td>{{ venta.total | currency }}</td>
                        <td>{{ venta.saldo | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="historico.length > 0" (click)="generarPDF()" type="button" class="btn btn-outline-primary">Generar PDF</button>
        </div>
    </div>
</div>