<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Pagos recibidos por mes
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Mes</th>
                        <th>Total Pagos</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="pagos.length == 0">
                        <td colspan="2">
                            <div class="alert alert-primary text-center" role="alert">
                                No hay pagos por mostrar.
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let pago of pagos">
                        <td>{{ pago.mes }}</td>
                        <td>{{ pago.totalPagos | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="pagos.length > 0" (click)="generarPDF()" type="button" class="btn btn-outline-primary">Generar PDF</button>
        </div>
    </div>
</div>