<div class="container-fluid">

    <div class="row mt-5">

        <div class="col-md-3">
            <h3 class="mb-4">Seleccione Categor&iacute;a</h3>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a (click)="mostrarTodosArticulos()" class="nav-link active" data-toggle="pill" href="#" role="tab">TODO</a>
                <a (click)="mostrarArticulos(cat.id, cat.nombre)" class="nav-link" data-toggle="pill" href="#" role="tab" *ngFor="let cat of categorias">
                    {{ cat.nombre }}
                </a>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="card">

                <div class="card-header">
                    <span class="text-muted">{{ nombreCategoriaSeleccionada }}</span>
                    <form class="form-inline my-2 my-lg-0" style="float: right;">
                        <input #campoBusqueda (keyup)="mostrarArticulosPorCategoriaYNombre(campoBusqueda.value)" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search">
                        <button (click)="mostrarArticulosPorCategoriaYNombre(campoBusqueda.value)" class="btn btn-outline-success my-2 my-sm-0" type="button">Buscar</button>
                    </form>
                </div>

                <div class="card-body">
                    <div class="card-columns">
                        <div class="card" *ngFor="let articulo of articulos">
                            <img [src]="articulo.pathImg" class="card-img-top" [alt]="articulo.nombre">
                            <div class="card-body">
                                <h5 class="card-title">{{ articulo.nombre }}</h5>
                                <p class="card-text">Precio: {{ articulo.precio | currency }}</p>
                                <input (click)="seleccionarArticulo(articulo)" type="button" class="btn btn-outline-primary btn-block" value="Agregar al carrito" data-toggle="modal" data-target="#modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ articuloSeleccionado.nombre }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="campoCantidad">Indique Cantidad de Unidades</label>
                    <input #inputCantidad id="campoCantidad" type="number" min="1" placeholder="Cantidad" class="form-control" [value]="cantidad">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button data-dismiss="modal" (click)="addToCart(inputCantidad.value)" type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>