<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Ventas por Mes
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Mes de Venta</th>
                        <th>Total Vendido</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="ventasPorMes.length == 0">
                        <td colspan="2">
                            <div class="alert alert-primary text-center" role="alert">
                                No hay ventas por mostrar.
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let venta of ventasPorMes">
                        <td>{{ venta.mes }}</td>
                        <td>{{ venta.totalVendido | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="ventasPorMes.length > 0" (click)="generarPDF()" type="button" class="btn btn-outline-primary">Generar PDF</button>
        </div>
    </div>
</div>