<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Ventas por Art&iacute;culo
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id Art&iacute;culo</th>
                        <th>Nombre Art&iacute;culo</th>
                        <th>Cantidad Vendida</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="ventasPorArticulos.length == 0">
                        <td colspan="4">
                            <div class="alert alert-primary text-center" role="alert">
                                No hay ventas por mostrar.
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let venta of ventasPorArticulos">
                        <td>{{ venta.idArticulo }}</td>
                        <td>{{ venta.nombreArticulo }}</td>
                        <td>{{ venta.cantidadVendida }}</td>
                        <td>{{ venta.total | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="ventasPorArticulos.length > 0" (click)="generarPDF()" type="button" class="btn btn-outline-primary">Generar PDF</button>
        </div>
    </div>
</div>