<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Ventas con adeudo de: {{ cliente.nombre }}
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Clave de Venta</th>
                        <th>Fecha</th>
                        <th>Total</th>
                        <th>Saldo deudor</th>
                        <th>Pagar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let venta of ventas">
                        <td>{{ venta.id }}</td>
                        <td>{{ venta.fecha | date:'longDate' }}</td>
                        <td>{{ venta.total | currency }}</td>
                        <td>{{ venta.saldo | currency }}</td>
                        <td><button (click)="ventaSeleccionada=venta" data-toggle="modal" data-target="#modalPago" type="button" class="btn btn-outline-danger">Pagar</button></td>
                    </tr>
                    <tr *ngIf="ventas.length == 0">
                        <td colspan="5">
                            <div class="alert alert-primary text-center" role="alert">
                                El cliente no tiene adeudos.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPago" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Realizar un pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <label>Monto a Pagar:</label>
                        <input #campoPago type="number" class="form-control text-center" placeholder="ingrese su pago">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button (click)="realizarPago(campoPago.value)" type="button" class="btn btn-primary" data-dismiss="modal">Pagar</button>
            </div>
        </div>
    </div>
</div>