<div class="container mt-3">

    <div class="card">
        <div class="card-header">
            Ingrese los datos para completar su compra.
        </div>
        <div class="card-body">

            <div class="row">
                <!-- Columna Izquierda del formulario -->
                <div class="col-sm-5">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="selectCliente">Seleccione el cliente:</label>
                            <select #selCliente (change)="obtenerDireccionesCliente(selCliente.value)" class="form-control" name="selectCliente" id="selectCliente" style="text-align-last: center;">
                                <option value="0">Seleccione</option>
                                <option [value]="cliente.id" *ngFor="let cliente of clientes">{{ cliente.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="selectVendedor">Seleccione el vendedor:</label>
                            <select #selVendedor class="form-control" name="selectVendedor" id="selectVendedor" style="text-align-last: center;">
                                <option value="0">Seleccione</option>
                                <option [value]="vendedor.id" *ngFor="let vendedor of vendedores">{{ vendedor.nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="selectFormaPago">Seleccione forma de pago:</label>
                            <select #selFormaPago class="form-control" name="selectFormaPago" id="selectFormaPago" style="text-align-last: center;">
                                <option value="0">Seleccione</option>
                                <option [value]="fp.id" *ngFor="let fp of formasPago">{{ fp.descripcion }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-10">
                            <label for="selectDireccion">Seleccione direccion:</label>
                            <select #selDireccion class="form-control" name="selectDireccion" id="selectDireccion" style="text-align-last: center;">
                                <option value="0">Entrega Personal</option>
                                <option *ngFor="let direccion of direccionesCliente" [value]="direccion.id">
                                    {{ direccion.direccion }}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label style="color: white;">oculto</label>
                            <button *ngIf="selCliente.value != 0" type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#modalDireccion">+</button>
                        </div>
                    </div>
                </div>

                <!-- Columna vacia de separacion -->
                <div class="col-sm-1"></div>

                <!-- Columna derecha del formulario -->
                <div class="col-sm-5">

                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label for="total">Total a Pagar:</label>
                            <span class="ml-4" id="total"><strong>{{ total | currency }}</strong></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <label>Indique la cantidad de su pago</label>
                            <input #campoAPagar type="number" class="form-control text-center" placeholder="Cantidad a pagar">
                        </div>
                    </div>
                    <div class="row form-group mt-5">
                        <div class="col-sm-12">
                            <button (click)="registrarCompra(selCliente.value, selVendedor.value, selFormaPago.value, selDireccion.value, campoAPagar.value)" type="button" class="btn btn-outline-success">Finalizar Compra</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDireccion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Direcci&oacute;n</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-12">
                        <label for="campoNuevaDireccion">Ingrese la nueva direcci&oacute;n</label>
                        <input #campoDirec class="form-control text-center" type="text" id="campoNuevaDireccion" placeholder="direcci&oacute;n">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button data-dismiss="modal" aria-label="Close" (click)="nuevaDireccionCliente(campoDirec.value, selCliente.value)" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>