<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Ventas por Factura
            </div>
        </div>

        <div class="card-body">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Folio Venta</th>
                        <th>Cliente</th>
                        <th>Fecha</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngIf="ventasPorFactura.length == 0">
                        <td colspan="4">
                            <div class="alert alert-primary text-center" role="alert">
                                No hay ventas por mostrar.
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let venta of ventasPorFactura">
                        <td>{{ venta.folioVenta }}</td>
                        <td>{{ venta.nombreCliente }}</td>
                        <td>{{ venta.fecha | date:'longDate' }}</td>
                        <td>{{ venta.total | currency }}</td>
                    </tr>
                </tbody>
            </table>
            <button *ngIf="ventasPorFactura.length > 0" (click)="generarPDF()" type="button" class="btn btn-outline-primary">Generar PDF</button>
        </div>
    </div>
</div>