<nav id="nav-top" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="home">
        <img src="assets/img/icon_navbar.png" width="30" height="30" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="pagos" routerLinkActive="active">Pagos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Reportes
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="ventasFactura">Ventas por factura</a>
                    <a class="dropdown-item" routerLink="ventasArticulos">Ventas por art&iacute;culo</a>
                    <a class="dropdown-item" routerLink="ventasPorCliente">Ventas por cliente</a>
                    <a class="dropdown-item" routerLink="ventasMes">Ventas por mes</a>
                    <a class="dropdown-item" routerLink="ventasMesCliente">Ventas por mes por cliente</a>
                    <a class="dropdown-item" routerLink="existencias">Existencias</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="historico" routerLinkActive="active">Hist&oacute;rico Ventas</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pagos Recibidos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="pagosReporte">Acumulados por mes</a>
                    <a class="dropdown-item" routerLink="pagosDia">Acumulados por d&iacute;a</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a routerLink="carrito" class="badge badge-dark mr-sm-3">Ver Carrito</a>
            <!--<a class="form-control mr-sm-2">Ver Carrito</a>-->
            <a class="navbar-brand" routerLink="carrito">
                <img src="assets/img/carrito.png" alt="carrito" width="35" height="35">
            </a>
        </form>
    </div>
</nav>